<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.myapplication">

    <uses-feature
            android:name="android.hardware.camera"
            android:required="false"/>

    <application
            android:allowBackup="false"
            android:icon="@mipmap/exclogo"
            android:label="@string/appName"
            android:roundIcon="@mipmap/exclogo_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat">
        <activity
                android:name=".SettingsActivity"
                android:label="Settings"
                android:launchMode="singleTop"
                android:parentActivityName=".MainActivity"
                android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myapplication.MainActivity"/>
        </activity>
        <activity
                android:name=".AboutActivity"
                android:label="@string/about"
                android:launchMode="singleTop"
                android:parentActivityName=".MainActivity"
                android:theme="@style/Theme.AppCompat">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.myapplication.MainActivity" />
        </activity>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.example.myapplication.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>

        <activity
                android:name=".DisplayMessageActivity"
                android:launchMode="singleTop"
                android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.myapplication.MainActivity"/>
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="@string/appName"
                android:launchMode="singleTop"
                android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>